RewriteEngine On

# Redireciona a raiz do site para o Node.js na porta 3000
RewriteRule ^$ http://127.0.0.1:3000/ [P,L]

# Se o arquivo ou diretório solicitado não existir fisicamente...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...redireciona a requisição para o Node.js na porta 3000
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]